header {
    color: white;
    background-color: rgb(228, 62, 84);
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 1em;
    padding: 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: center;
}

.card-header {
    background-color: rgb(0, 115, 255);
    color: white;
}

.card {
    width: 20rem;
    border-radius: 0.75rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 6px 22px -14px rgba(0, 0, 0, 0.79);
    margin: 2rem 1rem;
}
